.btn-primary {
  background-color: orange;
  border: 0;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(238, 155, 0);
}

.hero h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.btn-outline-secondary {
  font-weight: bold;
  
  color: rgb(73, 73, 73);
  
}

.btn-outline-secondary:hover {
  background-color: rgb(236, 235, 235);
  color: rgb(73, 73, 73);
  border: 1px solid rgb(170, 170, 170);
}

.btn-outline-success {
  background-color: orange;
  border: 0;
  padding: 8px 20px;
  font-weight: bold;
  color: white;
}

.btn-outline-success:hover {
  background-color: rgb(238, 155, 0); 
}

@media (max-width: 768px) {
  .btn-outline-secondary {
    margin-left: 0 !important;
  }
}